#img1 {
    background: url(../img/1.jpg);
}

#img2 {
    background: url(../img/2.jpg);
}

#img3 {
    background: url(../img/3.jpg);
}

#img4 {
    background: url(../img/4.jpg);
}

#img5 {
    background: url(../img/5.jpg);
}

#img6 {
    background: url(../img/6.jpg);
}

#img7 {
    background: url(../img/7.jpg);
}

#img8 {
    background: url(../img/8.jpg);
}

#img9 {
    background: url(../img/9.jpg);
}

#img10 {
    background: url(../img/10.jpg);
}

#img11 {
    background: url(../img/11.jpg);
}

#img12 {
    background: url(../img/12.jpg);
}

#img13 {
    background: url(../img/13.jpg);
}

#img14 {
    background: url(../img/14.jpg);
}

#img15 {
    background: url(../img/15.jpg);
}

#img16 {
    background: url(../img/16.jpg);
}

#img17 {
    background: url(../img/17.jpg);
}

#img18 {
    background: url(../img/18.jpg);
}

#img19 {
    background: url(../img/19.jpg);
}

#img20 {
    background: url(../img/20.jpg);
}

#img21 {
    background: url(../img/21.jpg);
}

#img22 {
    background: url(../img/1.jpg);
}

#img23 {
    background: url(../img/2.jpg);
}

#img24 {
    background: url(../img/3.jpg);
}
